GENERATOR_PROFILE=DEVELOPMENT_8GB
GENERATOR_MODEL_PATH=models/qwen2.5-7b-instruct-q4_k_m-00001-of-00002.gguf
GENERATOR_CONTEXT_SIZE=4096
GENERATOR_THREADS=8
GENERATOR_BATCH_SIZE=128
GENERATOR_GPU_LAYERS=0
GENERATOR_TEMPERATURE=0
GENERATOR_TOP_P=1
GENERATOR_MAX_TOKENS=180
GENERATOR_USE_MMAP=true
GENERATOR_USE_MLOCK=false
RERANKER_ENABLED=false
